@import "tailwindcss";

@layer components {
  .btn {
    background-color: rgb(252, 3, 13);
    color: white;
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0.5rem;
    transition-property: background-color;
    transition-duration: 300ms;
  }

  .btn:hover {
    background-color: rgb(253, 91, 98);
    cursor: pointer;
  }

  .nav-link {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
    cursor: pointer;
  }

  .nav-link:hover {
    color: rgb(252, 3, 13);
  }

  .nav-mobile-link {
    display: block;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
    color: rgb(252, 3, 13);
  }

  .contact-input {
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
  }

  .contact-input:focus {
    outline: none;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
      var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
      calc(2px + var(--tw-ring-offset-width)) rgb(252, 3, 13);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
      var(--tw-shadow, 0 0 #0000);
  }
}
